{:test0
 [xia.agent-test
  xia.autonomous-smoke-test
  xia.calendar-test
  xia.config-test
  xia.core-test
  xia.crypto-test
  xia.db-security-test
  xia.identity-test
  xia.llm-smoke-test
  xia.local-doc-smoke-test
  xia.local-ocr-test
  xia.oauth-test
  xia.prompt-test
  xia.runtime-overlay-test
  xia.schedule-test
  xia.secret-test
  xia.snapshot-test
  xia.summarizer-test
  xia.system-test
  xia.tool-smoke-test
  xia.channel.http-admin-test]
}
